.App {
  border: #282c34 1px solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 10px;
  box-shadow: 0 30px 50px #41326414;
  max-width: 900px;
  background-color: #aae6f6;
  margin: auto;
  margin-top: 50px;
}
.App-link {
  color: #61dafb;
}
footer {
  margin: auto;
  text-align: center;
  font-size: 14px;
}
